<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrarNuevoUsuario</servlet-name>
        <servlet-class>Servlet.RegistrarNuevoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EscalasIniciales</servlet-name>
        <servlet-class>Servlet.EscalasIniciales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Iniciar_Sesion</servlet-name>
        <servlet-class>Servlet.Iniciar_Sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarComentario</servlet-name>
        <servlet-class>Servlet.AgregarComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salir_Sesion</servlet-name>
        <servlet-class>Servlet.Salir_Sesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarNuevoUsuario</servlet-name>
        <url-pattern>/RegistrarNuevoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EscalasIniciales</servlet-name>
        <url-pattern>/EscalasIniciales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Iniciar_Sesion</servlet-name>
        <url-pattern>/Iniciar_Sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarComentario</servlet-name>
        <url-pattern>/AgregarComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salir_Sesion</servlet-name>
        <url-pattern>/Salir_Sesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
